<div class="col-xs-3"> <!-- required for floating -->
  <!-- Nav tabs -->
  <ul class="nav nav-tabs tabs-left">
    
    <li *ngFor="let minister of ministers, let i = index" data-toggle="tab" [ngClass]="{'active':i==0}"> 
      <a href="#{{i}}" (click)="togglepane()"    data-toggle="tab">{{minister.name}}</a>
    </li>
    
  </ul>
</div>

<div class="col-xs-9">
  <!-- Tab panes -->
  <div class="tab-content"  *ngFor="let minister of ministers, let i = index" >
  
    <div class="tab-pane" [ngClass]="{'active':i==0}" id="{{i}}">
     <img [src]="minister.img_path">     {{minister.name}}
     <div *ngFor="let dept of minister.department">
        <span>{{dept}}</span> 
     </div>
    </div>
  </div>
</div>

